<div style="font-size: 110%;padding-top:5px; padding-left:2px; padding-right:2px" id="content" #content>
  <div>
    <h3 style="text-align: center;">
      Shri G.S Institute of Technology & Science, Indore
    </h3>
    <br/>
    <h5 style="text-align: center;">
      <u>Telephone Complaint</u>
    </h5>
  </div>
  <br/>
  <div class="container">
    <table class="table table-bordered" width="100%" style="font-size: 150%;">
      <thead style="text-align: left;">
        <tr>
          <th>S.No</th>
          <th>Extension No.</th>
          <th>Location(Department/Section)</th>
          <th>Complaint Description</th>
          <th>Date at which complaint submitted</th>
          <th>Date at which complaint solved</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let val of telephoneComplaints; let i = index">
          <td>{{i+1}}</td>
          <td>{{val.extensionNo}}</td>
          <td>{{val.location}}</td>
          <td>{{val.details}}</td>
          <td>{{val.createdDate}}</td>
          <td>{{val.dateOfResolution}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="font-size:125%">
    <p style="text-align: right;">
        HEAD
      <br/>
      Department of Computer Engineering
    </p>
  </div>
  <br/>
  <hr style="border-top: dotted 1px;" />
  <br/>
  <div style="font-size:150%">
    <h4 style="text-align:center">
      Receipt
    </h4>
    <br/>
    The Complaint related to Extension no.<span style="border-bottom: dotted 1px;padding-right:200px"></span>is received on<span style="border-bottom: dotted 1px;padding-right:150px"></span> 
  </div>
  
</div>

<button (click)="captureScreen()">Download</button> 
<button (click)="generatePdf()">Open PDF</button>